
h1 {
 /*   color:blue; */
    font-family:verdana;
    font-size:300%;
}
p  {
 /*   color:red; */
    font-family:courier;
    font-size:160%;
	border:1px solid black;
    padding:10px;
    margin:30px;
}