/* site-style */

body {
	background-color: black;
}

a {
	color: rgb(255,160,0);
}

a:hover {
	color: rgb(191, 87,0);
}

a:visited {
	color: rgb(220,125,0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
	color: white !important;
}

/* header-style */

#top {
	margin-bottom:-30px;
}

#nav {
	margin-top:-20px;
}

#appoint {
	padding-top:20px;
}

.nav-tabs {
	border-bottom: none;
}

.nav li {
	display: inline;
	font-size:20px;
}

#top h1 {
	font-family:garamond;
	font-size:50px;
}

/* dropdown-menu */

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

/* main */

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
	font-weight: bold;
	text-shadow: 0px 0px 3px #000;
}

#main h4 {
	font-size:20px;
}

#main p {
	font-size:18px;
	text-shadow: 0px 0px 3px #000;
	margin-top: .2em;
  	margin-bottom: .5em;
}

#main a {
	text-shadow: 0px 0px 3px #000;
}

#main span {
	text-shadow: 0px 0px 3px #000;
}

.jumbotron {
	background-image:url(../fotos/duoduo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron #txtbg {
	background-color: rgba(100,100,100,.7);
}

#main .IN-widget a,
#main .IN-widget span {
	color: black !important;
	text-shadow: 0px 0px 0px #000;
}

/* footer-style */

footer img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

/* review index page */

#review-list li,
#review-list li,
#review-list a {
	font-family: monospace;
	font-size: 16px;
}

#review-content h1 {
	font-size: 30px;
}
 
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}