body {
	background-color: black;
}

a {
	color: white;
}

#top {
	margin-bottom:-30px;
}

.nav li {
	display: inline;
	font-size:20px;
}

#top h1,h2,h3,h4,h5,h6 {
	font-family:garamond;
	color: white;
}

#top h1 {
	font-size:50px;
}

footer img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#main h1,h2,h3,h4,h5,h6 {
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 3px #000;
}

#main h4 {
	font-size:20px;
}

#main p {
	color: white;
	font-size:18px;
	text-shadow: 0px 0px 3px #000;
}

#main a {
	color: rgb(255,160,0);
	text-shadow: 0px 0px 3px #000;
}

#main span {
	color: white;
	text-shadow: 0px 0px 3px #000;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.jumbotron {
	background-image:url(../images/duoduo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron #txtbg {
	background-color: rgba(100,100,100,.4);
}

#cp {
	padding-top: 50px;
}

#review-page li {
	color: white;
	font-size: 14px;
}