#top {
	background-color:#000000;
}

#top h1 {
	font-color:#fff;
}

#top h2 {
	font-color:#fff;
	font-size:50px;
}

#top img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#main h3 {
	text-transform:uppercase;
}

#main h4 {
	font-size:50px;
	text-transform:lowercase;
}

a {
	color: #00b0ff;
}

.jumbotron {
	background-image:images/duoduo.jpg;
}