#top {
	background-color:#000000;
}

#top h1 {
	font-color:#ffffff;
}

#top h2 {
	font-color:#ffffff;
	font-size:50px;
}

#top img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#main h3 {
	text-transform:uppercase;
}

a {
	color: #00b0ff;
}