
a {
	color: #00bbff;
}

.nav {
	background-color: black;
}

.nav h {
	font-family:garamond;
	color: #dfdfdf;
}

.nav h1 {
	font-size:50px;
}

.nav h2 {
	font-size:30px;
}

.nav img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#main h3 {
	color: white;
	font-weight: bold;
	text-transform:uppercase;
	text-shadow: 0px 0px 3px #000;
}

#main h4 {
	color: white;
	font-size:20px;
	font-weight: bold;
	text-transform:lowercase;
	text-shadow: 0px 0px 3px #000;
}

#main p {
	color: white;
	font-size:18px;
	text-shadow: 0px 0px 3px #000;
}

#main a {
	text-shadow: 0px 0px 3px #000;
}

#resume {
	color: white;
}

#courses {
	color: white;
}

#drp {
	color: white;
}


.jumbotron {
	background-image:url(../images/duoduo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron #txtbg {
	background-color: rgba(100,100,100,.4);
}