---
layout: default
---
<div id="page-navigation">
	<div class="clear">&nbsp;</div>
	<div class="left">
		{% if page.previous.url %}
			<a href="{{page.previous.url}}" title="Previous Post:{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
		{% endif %}
	</div>
	
	<div class="right">
		{% if page.next.url %}
			<a href="{{page.next.url}}" title="Next Post:{{page.next.title}}">&laquo; {{page.next.title}}</a>
		{% endif %}
	</div>
	<div class="clear">&nbsp;</div>
</div>

<div id="review-content" class="container">
	<h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date_to_string }}</p>

	<div class="review">
	  {{ content }}
	</div>
</div>
