---
layout: default
---
<div id="page-nav">
	<div class="clear">&nbsp;</div>
	<div class="pull-left">
		{% if page.previous.url %}
			<a href="{{page.previous.url}}" title="{{page.previous.id}}"><strong>&laquo;</strong> Previous Post: {{page.previous.title}}</a>
		{% endif %}
	</div>
	
	<div class="pull-right">
		{% if page.next.url %}
			<a href="{{page.next.url}}" title="{{page.next.id}}">Next Post: {{page.next.title}} <strong>&raquo;</strong></a>
		{% endif %}
	</div>
	<div class="clear">&nbsp;</div>
</div>

<div id="review-content" class="container">
	<h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date_to_string }}</p>

	<div class="review">
	  {{ content }}
	</div>
</div>
